nav{
  display: flex;
  justify-content: space-around;
  align-items: right;
  min-height: 10vh;
  background: lilac #bc9ec1ff;
  color: white;
}

.nav-bar{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px;

}

.top-1{
  display: flex;

}

.billboard {
  background-color: lilac #bc9ec1ff;
  color: #fff;
  text-align: center;
}

.refridge{
  font-size: 100px;
}
