.App {
  display: flex;
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
--lavender-blush: #fde8e9ff;
--cameo-pink: #e3bac6ff;
  background: lilac #bc9ec1ff;
  text-decoration-color: #596475ff;
--raisin-black: #1f2232ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
