body{
  font-family: 'Annie Use Your Telescope', cursive;
  padding: 20px
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: right;
  min-height: 10vh;
  background: lilac #bc9ec1ff;
  color: white;
}

.nav-bar{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px;
}

Header{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 5vh;
  text-align: center;
  justify-content: center;
}

.title{
  color: purple;
  margin: 1vh 0;
}

.description{
  margin: 3vh 1vh;
}

.pic{
  width: 40vw;
}
.top-1{
  display: flex;

}

.billboard {
  background-color: lilac #bc9ec1ff;
  color: #fff;
  text-align: center;
}

.refridge{
  font-size: 100px;
}

.aboutInfo {
  text-align: center;
}

.aboutPara{
  display: flex;

}

.casual-pic {
  display: flex;
  justify-content: center;
  width: 60vw;
  padding: 20px;
  margin: 50px 0 0 120px;
}

.quick-pic {
  display: flex;
  justify-content: center;
  width: 60vw;
  padding: 20px;
  margin: 50px 0 0 120px;
}

.group-pic {
  display: flex;
  justify-content: center;
  width: 60vw;
  padding: 20px;
  margin: 50px 0 0 120px;
}